* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1152px;
    max-height: 700px;
}

header {    
    display: flex;   
    align-items: center;
    background-color: #F5F5F6;
    font-size: 11px;
    font-weight: 500;
}

#logo {
    width: 89px;
    height: 23px;
    margin-left: 100px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 630px;
    margin-left: 64px;
}

li {
    color: #959BA4;
    height: 19px;
}

#log-in {
    width: 58px;
    height: 33px;
    margin-top: 9px;
    margin-bottom: 8px;
    margin-left: 109px;
    background-color: white;   
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 641px;
    margin-left: 253px;
}

h1 {
    font-family: Roboto;
    font-style: bold;
    font-size: 36px;
    font-weight: 700;
    margin-top: 56px;
    margin-bottom: 33px;
    max-width: 587px;
}

.exchange {
    display: flex;
    justify-content: space-between;
}

.exchange p {
    width: 120px;
    height: 28px;
    color: #9F9F9F;
}

.left {
    width: 259px;
}

.right {
    width: 259px;
}

.input-currency,
.convers-currency {
    display: flex;
    overflow: hidden;
    width: 259px;
    height: 30px;
    border: solid 1px #E5E5E5;
    border-radius: 3px;
    margin-bottom: 20px;
}

.input-currency li,
.convers-currency li {
    display: flex;
    border: solid 1px #E5E5E5;
    border-collapse: collapse;
    width: 64.75px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    align-items: center; 
}

.input-summ, .convers-summ {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 259px;
    height: 102px;
    border: solid 1px #E5E5E5;
    border-radius: 3px;
    margin-bottom: 5px;
}

.input-summ p,
.convers-summ p {
    display: flex;
    color: gray;
    width: 119px;
    height: 28px;
    margin-left: 16px;
    font-size: 12px;
}

input,
#money-out {
    width: 124px;
    height: 38px;
    color: black;
    font-size: 36px;
    font-style: bold;
    margin-top: 11px;
    margin-left: 14px;
}
